
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.register-main{
  display: flex;
  align-items: center;
justify-content: center;

}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(20, 67, 82, 0.5);
 
}

.register-form {
  width: 100%;
  padding: 30px 30px 0 30px;
  
}

.login-logoImage {
  width: 80px;
  height: 32px;
}


.input-box-register {
  position: relative;
    height: 30px;
    background-color: white;
    margin: 20px 0;
    border-bottom: 2px solid #144352;
}

.input-box-register input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #144352;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  }
  .input-box-register .icon {
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #144352;
  }

.instructions {
  color: red;
  display: block;
}

.already_have_account {
  display: flex;

  font-size: 14px;
 
  color: #144352;
  text-decoration: none;
  font-weight: 600;

}
.login-link-p {
  font-weight: 700;
}
.login-link-p:hover {
text-decoration: underline;
color: #FA5E11;
}
.errmsg {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.submit-btn-register {
  width: 100%;
  background-color: #FA5E11;
  font-size: 14px;
  font-weight: 700;
  border: none;
  padding: 9px 0;
  color: white;
  border-radius: 8px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}
.submit-btn-register:hover {
  background-color: #2B89B2;
}