
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-image  {
  display: flex;
  align-items: center;
 
}
.login-image img {
  width: 100%;
}
.halfPage{
  display: flex;
  width: 50%;
  height: 82.5vh;
  align-items: center;
  justify-content: center;
}

.login_form {
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 24px;
  min-width: 320px;
  background-color: rgba(6, 156, 167, 0.7);
}
.login-logoImage {
  height: 32px;
}

.input-box-login {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ffffff;
  }
.input-box-login input {
  width: 100%;
  background-color: transparent;
  height: 32px;
  outline: none;
  border: none;
  font-size: 14px;
  color: #fff;
}
.login_form input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.9;
}
.input-box-login input:focus-visible {
  background-color: transparent;
}
.login_form input:-webkit-autofill,
.login_form input:-webkit-autofill:hover,
.login_form input:-webkit-autofill:focus,
.login_form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  background-color: transparent !important;
  background: transparent;
  transition: background-color 5000s ease-in-out 0s;
}
  /* .login .input-box-login input {
      width: 100%;
      height: 32px;
      background-color: transparent !important;
      color: #ffffff !important;
      border: none;
      outline: none;
      font-size: 14px;
      padding-left: 20px;
      
    } */
 
    .input-box-login .icon {
      display: flex;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      color: #ffffff;

    }

.submit-btn-login{
  width: 100%;
      background-color: #FA5E11;
      font-size: 14px;
      font-weight: 700;
      border: none;
      padding: 9px 0;
      color: white;
      border-radius: 8px;
      margin-bottom: 30px;
      letter-spacing: 2px;
  }
  .submit-btn-login:hover{
    background-color: #2B89B2;
    /* color: #144352; */
  }
  /* .remember-forgot {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 14.5px;

    label input {
      accent-color: black;
      margin-right: 4px;
      align-items: center;
    }
    a {
      color: #8bae33;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  } */

  
  .register-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    text-align: center;
    gap: 4px;
  }
    .register-link  {
      color: #144352;
      text-decoration: none;
    }
    .register-link-p{
      font-weight: 700;
      cursor: pointer;
      padding-left: 4px;
    }
    .register-link-p:hover {
      text-decoration: underline;
      color: #FA5E11;
    }
  

